# In .gitignore
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.fdb_latexmk
*.fls
bioinfo/workflow/.snakemake/*
bioinfo/workflow/outputs/*
bioinfo/workflow/scripts/__pycache__
bioinfo/workflow/data/*
